<h2><%= @survey.name()%></h2>

<% @questions.each() do |question| %>
  <li><%= question.the_question %>
    <br>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>
    <label class="checkbox-inline"><input type="checkbox" value="">Option 1</label>

    <form class="" action="/questions/<%= question.id() %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button type="submit" class="btn btn-danger">Delete</button></form>
    <a href="/questions/<%= question.id() %>/edit" class="btn btn-info" role="button">Edit</a>
    <br>

    </li>
  <% end %>

  <h1>Add a new question to the survey:</h1>

  <form action="/surveys/<%= @survey.id() %>" method="post">
    <div class="form-group">
      <label></label>
      <input type="text" class="form-control" id="the_question" name="the_question">
    </div>
    <div class="form-group">
      <label></label>
      <input type="hidden" class="form-control" id="survey_id" name="survey_id" value="<%= @survey.id() %>">
    </div>
    <div class="form-group">
      <label></label>
      <input type="hidden" class="form-control" id="id" name="id" value="<%= @survey.id() %>">
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
<br>
<br>
<a href="/">Home</a>
